@use '../../../styles/variables.scss' as *;
footer{

  background: $gradient-color;


//  background: url('../../../../assets/image/footer-bg.webp') no-repeat center center , #072c2f;
//  background-size: cover;
 color: #fff;

 h5,h4,h3,h2,h1{
  font-weight: 600;
  color: $second-color; 
  text-transform: capitalize;
  font-size: 1.25rem;
  margin-bottom: 1rem;
 }

 p , a{
  font-size: 0.875rem;
  color: #fff !important;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: $transition;
  &:hover{
    color: $second-color !important;
  }
  &.tripadvisorLink{
    color: $primary-color !important;
  }
 }


 figure{
  max-width: 135px;
    max-height: 135px;
    background: #34e0a1;
    border-radius: 15px;
    padding: 12px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
 }

 ul{
  li{
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    a{
      transition: $transition-fast;
    }
    &:hover a{
      color: $second-color !important;
      padding-left: 1.2rem !important;
}
  }
 }


  .footer-bottom {
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #55555555;

    a{
      color: #fff !important;
      &:hover{
        color: $primary-color !important;
      }
    }
    p {
      margin: 0;
      color: #ccc;
    }
  }
}


