<footer class="pt-4">
  <div class="container">
    

    <div class="row g-3 my-5">
      <div class="col-lg-4">
        <div>
          <h3>Nubatia Tours</h3>
          <p>
            Nubatia Tours best travel agency in Egypt specialized in providing professional advice on planning Travel Packages, Nile Cruises and Day Tours.
          </p>

          <ul class="list-unstyled my-4">
            <li class="d-flex align-items-center gap-2 mb-3 ps-0">
              <i class="textSecondColor fa fa-location-dot"></i>
              <a class="mb-0" href="https://maps.app.goo.gl/1234567890" target="_blank">{{ address }}</a>
            </li>
            <li class="d-flex align-items-center gap-2 mb-3 ps-0">
              <i class="textSecondColor fa fa-phone"></i>
              <a class="mb-0" href="tel:{{ phone }}">{{ phone }}</a>
            </li>
            <li class="d-flex align-items-center gap-2 mb-3 ps-0">
              <i class="textSecondColor fa fa-envelope"></i>
              <a class="mb-0" href="mailto:{{ email }}">{{ email }}</a>
            </li>
          </ul>
          <app-social [socialLinks]="socialLinks"></app-social>

        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <h3>Quick Links</h3>
        <ul class="list-unstyled text-capitalize">
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/">Home</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/tours">Tours</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/destinations">Destinations</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/blog">Blogs</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/makeTrip">Make Trip</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/profile">Profile</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>General</h3>
        <ul class="list-unstyled text-capitalize">
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/about">About Nubatia Tours</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/why-travel-with-us">Why Nubatia Tours</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/terms-and-conditions">terms and conditions</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/privacy-policy">privacy policy</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/faq">FAQs</a></li>
          <li> <i class="fa fa-angle-right me-1 fontsm"></i> <a routerLink="/contact">Contact Us</a></li>

        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex flex-column justify-content-center align-items-center gap-2 bg-white p-3 pt-4 rounded-3 overflow-hidden">
          <div>
            <i class="fa fa-trophy fa-bounce text-warning mx-3"></i>
            <span class="bgSecondColor textMainColor rounded-pill px-3 py-1">2026</span>
          </div>
          <a href="https://www.tripadvisor.com/Attraction_Review-g294202-d23812176-Reviews-Nobatia_Tours-Giza_Giza_Governorate.html" target="_blank">
            <figure class="mb-1 mt-2">
              <img src="../../../../assets/new_images/TC_L_2025.svg" class="w-100 h-100 object-fit-cover" alt="travel certificate">
            </figure>
          </a>
          
          <a class="tripadvisorLink text-decoration-none textSecondColor fw-bold text-capitalize" href="https://www.tripadvisor.com/Attraction_Review-g294202-d23812176-Reviews-Nobatia_Tours-Giza_Giza_Governorate.html" target="_blank"> travel's choice award</a>
          <span class="fontsm text-muted">Top 10% of Experiences Worldwide</span>
          <div class="fontsm textMainColor flexBetween gap-2">
            <span>

              <i class="fa fa-star text-warning mx-1"></i>
              5.0 rating
            </span>
            <span>

              <i class="fa fa-users text-warning mx-1"></i>
              1000+ reviews
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom pb-4 ">
    <p>
       &copy; 2026
      <a href="https://perfectsolution4u.net/" class="px-2 fw-bold" target="_blank"
        >Perfect solutions 4U</a
      >
      - All rights reserved.
    </p>
  </div>
</footer>
