@use '../../../styles/variables.scss' as *;

main{
    background-color: #FEFCF7 !important;
}
.item {
  position: relative;
  box-shadow: 0 10px 10px 0 rgba($second-color, 0.1);
  transition: $transition-fast;
  min-height: 400px;
  &::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $second-color;
    left: 0%;
    top: 0;
    transform: scaleX(0) ;
    border-radius: 10px 0 0 10px;
    transition: $transition-fast;
  }

  .iconBox{
    box-shadow: $box-shadow;
    font-size: 1.5rem;
    color: #fff;
  }

  .description p:last-child{
    border-bottom: none !important;
    margin-bottom: 0 !important;
  }

  .fontsm{font-size: 12px;}

  .img-fluid{
    width: 180px;
    height: 68px;
    object-fit: cover;
  }

  &:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-color: $second-color;
    &::before{
      transform: scaleX(1) ;
    }

    .iconBox{
      background-color: $primary-color !important;
      color: #fff;
      box-shadow: $box-shadow;
      transform: rotate(360deg) ;
      border: 1px solid $primary-color;
      transition: $transition-fast;
    }
  }
}

.contact{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}